# Dependencies
backend/node_modules/
frontend/node_modules/

# Environment variables
backend/.env
backend/.env.*
frontend/.env
frontend/.env.*

# Frontend build
frontend/.next/
frontend/out/

# Backend build
backend/dist/

# Logs
*.log

# OS
.DS_Store
Thumbs.db